{% extends "base.html" %}
{% block title %}Projects - 529labs Portfolio{% endblock %}
{% block content %}
<h2 class="text-3xl font-light mb-6 border-b pb-2">Projects</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  {% for project in projects %}
  <div class="transition duration-300 hover:shadow-lg">
    <img src="{{ project.image }}" alt="{{ project.title }}" class="w-full mb-4 rounded">
    <h4 class="text-xl font-medium mb-1">{{ project.title }}</h4>
    <p>{{ project.description }}</p>
    <a href="{{ project.link }}" class="transition duration-300 hover:underline inline-block mt-2">
      Visit Project
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}


